<div class="max-w-6xl mx-auto mt-10">
  <div *ngIf="flights.length === 0" class="text-center text-2xl font-bold h-52 text-gray-500">No flights available.</div>
  <h2 *ngIf="flights.length !== 0" class="text-2xl font-bold mb-6 text-center">Available Flights</h2>
  <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
    <div *ngFor="let flight of flights" class="border border-gray-200 shadow-md p-4 rounded">
      <div class="flex justify-between">
         <div class="flex flex-col gap-2">
          <h3 class="text-2xl font-bold">{{ flight.airline }}</h3>
          <p class="text-lg font-semibold">{{ flight.departure }} → {{ flight.arrival }}</p>
          <p class="text-lg">Departure: {{ flight.departureTime | date:'short' }}</p>
          <p class="text-lg">Arrival: {{ flight.arrivalTime | date:'short' }}</p>
          <p class="text-lg">Price: ₹{{ flight.price }}</p>
        </div>
        <div class="w-[50%]"> 
          <img src="https://wallpapercave.com/wp/wp4128796.jpg" alt="" class="h-44 rounded-lg">
        </div>
      </div>
      <button class="btn w-full cursor-pointer mt-4" (click)="book(flight.id)">
        Book Now
      </button>
      
    </div>
  </div>
</div>
