<div class="max-w-3xl flex flex-col justify-center mx-auto mt-10">
  <h2 class="text-2xl font-bold mb-4 ml-2">Book flight</h2>
    <div class="flex justify-between items-center my-4 px-8 py-4 border bg-gray-50 border-gray-300 rounded-xl shadow-md">
         <div class="flex flex-col gap-3">
          <p class="text-2xl font-bold">{{ flight.departure }} → {{ flight.arrival }}</p>
          <p class="text-xl font-bold text-amber-700">{{ flight.airline }}</p>
          <p class="text-xl"> <span class="font-semibold text-blue-700 mr-1"> Departure: </span> {{ flight.departureTime | date:'short' }}</p>
          <p class="text-xl"> <span class="font-semibold text-blue-700 mr-1"> Arrival: </span> {{ flight.arrivalTime | date:'short' }}</p>
          <p class="text-xl"> <span class="font-semibold text-blue-700 mr-1"> Fare: </span> ₹{{ flight.price }} <span class="text-gray-500 font-semibold">(incl. taxes)</span></p>
        </div>
        <div class="w-[50%]"> 
          <img src="https://wallpapercave.com/wp/wp4128796.jpg" alt="" class="h-50 w-full rounded-lg">
        </div>
    </div>
  
    <form #bookingForm="ngForm" (ngSubmit)="submitForm(bookingForm)">
        <div *ngFor="let p of passengers; let i = index" class="bg-gray-50 p-6 mb-4 rounded-xl shadow">
        <h4 class="font-semibold text-lg">Passenger {{ i + 1 }}</h4>

        <!-- Full Name -->
        <input
          class="input mt-2"
          [(ngModel)]="p.name"
          name="name{{i}}"
          placeholder="Full Name"
          required
          maxlength="50"
          pattern="[A-Za-z ]+"
          #name="ngModel"
        />
        <div class="text-red-600 text-sm mt-1" *ngIf="name.invalid && name.touched">
          Please enter a valid name (max 50 letters & only alphabets).
        </div>

        <!-- Age -->
        <input
          class="input mt-2"
          type="number"
          [(ngModel)]="p.age"
          name="age{{i}}"
          placeholder="Age"
          required
          min="1"
          max="120"
          #age="ngModel"
        />
        <div class="text-red-600 text-sm mt-1" *ngIf="age.invalid && age.touched">
          Age must be between 1 and 120.
        </div>

        <!-- Passport Number -->
        <input
          class="input mt-2"
          [(ngModel)]="p.passport"
          name="passport{{i}}"
          placeholder="Passport Number"
          required
          pattern="^[0-9]{8,12}$"
          maxlength="12"
          #passport="ngModel"
        />
        <div class="text-red-600 text-sm mt-1" *ngIf="passport.invalid && passport.touched">
          Passport must be 8–12 digits only.
        </div>

        <button *ngIf="passengers.length > 1" class="btn mt-4 font-semibold" (click)="removePassenger(i)">
          Remove
        </button>
    </div>

      <button class="btn font-semibold text-lg" (click)="addPassenger()">+ Add Passenger</button>

      <button
        type="submit"
        class="btn mt-4 w-full font-semibold text-lg cursor-pointer disabled:bg-gray-400 disabled:cursor-not-allowed"
        [disabled]="bookingForm.invalid"
      >
        Confirm Booking
      </button>

    </form>

  
</div>